/** RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 999;
    overflow-x: hidden;
}

:root {
    --color-1: #272643;
    --color-2: #ffffff;
    --color-3: #e3f6f5;
    --color-4: #bae8e8;
    --color-5: #2c698d;
    --color-6: #000000;
}

/** BANNER */

.container-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: var(--color-5);
}

.icon {
    width: 30px;
    height: auto;
    mix-blend-mode: normal;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.info {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-2);
    cursor: default;
    text-transform: uppercase;
}

/** NAVBAR */

.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    gap: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--color-1);
    overflow: hidden;
}

.container-logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.container-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.link-logo {
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-2);
    text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.3);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.link {
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    padding: 25px;
    align-items: center;
    text-align: center;
    color: var(--color-2);
    text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.3);
    flex: none;
    order: 1;
    flex-grow: 0;
}

/** NAVBAR MOVIL */

.btn-burger {
    backface-visibility: hidden;
    background: var(--color-1);
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 8px;
}

.btn-burger:disabled {
    color: #787878;
    cursor: auto;
}

.btn-burger:not(:disabled):hover {
    transform: scale(1.05);
}

.btn-burger:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.btn-burger:focus {
    outline: 0 solid transparent;
}

.btn-burger:focus:before {
    border-width: .125rem;
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.btn-burger:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.btn-burger:not(:disabled):active {
    transform: translateY(.125rem);
}

.container-nav-movil {
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.link {
    display: flex;
    justify-content: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-links-movil {
    background-color: var(--color-1);
    width: 100%;
    text-transform: uppercase;
}

#menu {
    display: none;
}

@media (min-width: 375px) {
    #toggle-button {
        display: block;
    }

    #menu.show {
        display: block;
    }
}

@media (min-width: 992px) {
    #toggle-button {
        display: none;
    }

    #menu.show {
        display: none;
    }
}

/** HOME */

.container-home {
    min-height: 50vh;
    background-image: url("./assets/home.webp");
    background-size: cover;
    background-position: center;
    padding-bottom: 1.5rem;
}

.title-container {
    display: flex;
    justify-content: center;
    padding-top: 8%;
}

.title-home {
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--color-6);
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: auto;
}

/** FORM */

.container-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.form {
    border: none;
}

.form-select {
    background: var(--color-2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 40px;
}

.select {
    border: none;
    font-size: 1.1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
}

.option-form {
    color: var(--color-6);
    text-align: left;
    font-size: 1.1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    border: none;
    text-transform: uppercase;
}

/** FORM BUTTON */

.btn-form {
    align-items: center;
    background-color: var(--color-1);
    border: 2px solid var(--color-1);
    box-sizing: border-box;
    color: var(--color-2);
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
}

.btn-form:focus {
    color: var(--color-2);
}

.btn-form:hover {
    background-color: var(--color-1);
    border-color: var(--color-1);
    fill: var(--color-1);
}

.btn-form:active {
    background-color: var(--color-5);
    border-color: var(--color-5);
    fill: var(--color-5);
}

@media (min-width: 768px) {
    .btn-form {
        min-width: 170px;
    }
}

/** RESPONSIVE */

@media screen and (min-width: 375px) and (max-width: 575px) {
    /** BANNER */

    .container-banner {
        width: auto;
        flex-direction: column;
        gap: 1rem;
    }

    /** NAVBAR */
    .container-nav {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    /** FORM */

    .form-select {
        flex-direction: column;
        gap: 3.2rem;
        justify-content: center;
        padding: 1rem;
    }

    .option-form {
        text-align: center;
    }

    /** FORM BUTTON */

    .btn-form {
        align-items: center;
        background-color: var(--color-1);
        border: 2px solid var(--color-1);
        box-sizing: border-box;
        color: var(--color-2);
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        width: 100%;
        justify-content: center;
        letter-spacing: -.8px;
        line-height: 24px;
        min-width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        text-transform: uppercase;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    /** BANNER */

    .container-banner {
        width: auto;
        flex-direction: column;
        gap: 1rem;
    }

    /** NAVBAR */
    .container-nav {
        display: none;
    }

    /** FORM */

    .form-select {
        flex-direction: column;
        gap: 3.2rem;
        justify-content: center;
        padding: 1rem;
    }

    .option-form {
        text-align: center;
    }

    /** FORM BUTTON */

    .btn-form {
        align-items: center;
        background-color: var(--color-1);
        border: 2px solid var(--color-1);
        box-sizing: border-box;
        color: var(--color-2);
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        width: 100%;
        justify-content: center;
        letter-spacing: -.8px;
        line-height: 24px;
        min-width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /** BANNER */

    .container-banner {
        width: auto;
        flex-direction: column;
        gap: 1rem;
    }

    /** NAVBAR */
    .container-nav {
        display: none;
    }

    /** FORM */

    .form-select {
        flex-direction: column;
        gap: 3.5rem;
        justify-content: center;
        padding: 1rem;
    }

    .option-form {
        text-align: center;
    }

    /** FORM BUTTON */

    .btn-form {
        align-items: center;
        background-color: var(--color-1);
        border: 2px solid var(--color-1);
        box-sizing: border-box;
        color: var(--color-2);
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        width: 100%;
        justify-content: center;
        letter-spacing: -.8px;
        line-height: 24px;
        min-width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        text-transform: uppercase;
    }
}